.Carousel {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.Container {
  display: flex;
  justify-content: center;
}
.Caption {
  margin-top: 450px;
}
.BtnArea {
  display: flex;
  justify-content: center;
  margin-left: 300px;
  width: 400px;
  margin-left: 200px;
}
.MajorDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
